<script>

    // Инициализация открывающихся ячеек
    $('.ui.dropdown').dropdown()

    // Инициализация табов
    $('.menu .item').tab();

    // Инициализация меню наведения
    $('.image.event').dimmer({on: 'hover'});

</script>

    </body>
</html>