<div class="ui modal" id="modal-post">
    <i class="close icon"></i>
    <div class="header">
        Создание публикации
    </div>
    <div class="content">
        <div class="ui medium image centered">
            <input class="ui button" type="file" accept="image/jpeg,image/png,image/gif" id="post_image-input">
            <img class="ui medium rounded image" src="" style = "display: none" id="post-image">
        </div>
        <div class="ui dropdown">
            <div class="text">File</div>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <img src="assets/images/smiles/1.png">
                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green deny button" id="submit-post">
            Опубликовать
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {

        function readURL(input)
        {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {

                    $('#post_image-input').css("display","none");
                    $('#post-image').attr('src', e.target.result).css("display","block");
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#submit-post").click(function () {

        });

        $('#post_image-input').change(function () {

            readURL(this);
        });
    })
</script>