<div class="ui modal" id="modal-post">
    <i class="close icon"></i>
    <div class="header">
        Создание публикации
    </div>
    <div class="content">
        <div class="ui medium image centered">
            <input class="ui button" type="file" accept="image/jpeg,image/png,image/gif" id="post_image-input">
            <img class="ui medium rounded image" src="" style = "display: none" id="post-image">
            <div class="ui fluid selection dropdown" style="margin-top: 20px;display: none" id="smile-div">
                <input type="hidden" name="user">
                <i class="dropdown icon"></i>
                <div class="default text">Выбирйте настроение</div>
                <div class="menu">

                    {% for i in 1..10 %}

                    <div class="item" data-value="{{ i }}">
                        <img class="ui mini avatar image" src="{{ base_url }}/assets/images/smiles/{{ i }}.png">
                    </div>

                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
    <div class="actions">
        <div class="ui green button" id="submit-post">
            Опубликовать
        </div>
    </div>
</div>
